<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Zabor</title>

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.gif" />
    
    <meta name="description" content="@ViewData["MetaDescription"]">
    <meta name="keywords" content="@ViewData["MetaKeywords"]">

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-main">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Zabor</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Products" asp-action="Index">Продукция</a></li>
                    <li><a asp-area="" asp-controller="Montage" asp-action="Index">Монтаж</a></li>
                    <li><a asp-area="" asp-controller="Production" asp-action="Index">Производство</a></li>
                    @*<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Заборы <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a asp-area="" asp-controller="Fences" asp-action="Cement">Бетонные заборы</a></li>
                            <li><a asp-area="" asp-controller="Fences" asp-action="SheetMetal">Профлист</a></li>
                            <li><a asp-area="" asp-controller="Fences" asp-action="Slave">Рабица</a></li>
                        </ul>
                    </li>*@
                    @*<li><a asp-area="" asp-controller="Products" asp-action="Gates">Ворота</a></li>
                    <li><a asp-area="" asp-controller="Products" asp-action="Forge">Ковка</a></li>
                    <li><a asp-area="" asp-controller="Products" asp-action="Doors">Двери</a></li>*@
                    @*<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Сад и парк <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a asp-area="" asp-controller="GargenPark" asp-action="Tables">Столы</a></li>
                            <li><a asp-area="" asp-controller="GargenPark" asp-action="Chairs">Стулья</a></li>
                            <li><a asp-area="" asp-controller="GargenPark" asp-action="Benches">Скамейки</a></li>
                            <li><a asp-area="" asp-controller="GargenPark" asp-action="Chargrills">Мангалы</a></li>
                            <li><a asp-area="" asp-controller="GargenPark" asp-action="Visors">Козырьки</a></li>
                            <li><a asp-area="" asp-controller="GargenPark" asp-action="Canopies">Навесы</a></li>
                        </ul>
                    </li>*@
                    @*<li><a asp-area="" asp-controller="Photogallery" asp-action="Index">Галерея</a></li>*@

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Компания <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a asp-area="" asp-controller="Home" asp-action="About">О компании</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Контакты</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Feedback">Обратная связь</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="body-content">

        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <ul style="margin-top: 30px;" class="nav nav-pills nav-stacked">
                        @*<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Заборы <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-area="" asp-controller="Fences" asp-action="Cement">Бетонные заборы</a></li>
                                <li><a asp-area="" asp-controller="Fences" asp-action="SheetMetal">Профлист</a></li>
                                <li><a asp-area="" asp-controller="Fences" asp-action="Slave">Рабица</a></li>
                            </ul>
                        </li>*@
                        <li class="navbar_label">
                            <a href="#" class="navbar_label-name">Заборы</a>
                        </li>
                        <li><a asp-area="" asp-controller="Fences" asp-action="Cement">Бетонные заборы</a></li>
                        <li><a asp-area="" asp-controller="Fences" asp-action="SheetMetal">Профлист</a></li>
                        <li><a asp-area="" asp-controller="Fences" asp-action="Slave">Рабица</a></li>

                        <li class="navbar_label">
                            <a href="#" class="navbar_label-name">Сад и парк</a>
                        </li>
                        <li><a asp-area="" asp-controller="GargenPark" asp-action="Tables">Столы</a></li>
                        <li><a asp-area="" asp-controller="GargenPark" asp-action="Chairs">Стулья</a></li>
                        <li><a asp-area="" asp-controller="GargenPark" asp-action="Benches">Скамейки</a></li>
                        <li><a asp-area="" asp-controller="GargenPark" asp-action="Chargrills">Мангалы</a></li>
                        <li><a asp-area="" asp-controller="GargenPark" asp-action="Visors">Козырьки</a></li>
                        <li><a asp-area="" asp-controller="GargenPark" asp-action="Canopies">Навесы</a></li>
                        
                        
                        
                        <li class="navbar_label">
                            <a href="#" class="navbar_label-name">Другая продукция</a>
                        </li>
                        <li><a asp-area="" asp-controller="Products" asp-action="Gates">Ворота</a></li>
                        <li><a asp-area="" asp-controller="Products" asp-action="Forge">Ковка</a></li>
                        <li><a asp-area="" asp-controller="Products" asp-action="Doors">Двери</a></li>
                    </ul>
                </div>
                <div class="col-md-9">
                    @RenderBody()
                </div>

            </div>
        </div>


    </div>


<footer style="position: absolute; bottom: 0px; width: 100%; height: 150px; display: flex; flex-direction: row; justify-content: space-around;">
    <div class="footer-info">
        <div class="footer-logo">ZABOR.RU</div>
        <div class="footer-slogan">Установка железобетонных заборов в Брянске</div>
        <div class="footer-dates">© 2017 - 2018</div>
    </div>
   
    <div class="footer-order">
        <div class="footer-email"><i class="fa fa-envelope"></i> bryanskzabor@gmail.com</div>
        <div class="footer-phone"><i class="fa fa-phone"></i> +7 910 330-49-55</div>

        <div class="footer-link"><a asp-controller="Home" asp-action="Contact">Контакты</a></div>
        @*<div class="footer-link"><a href="/privacy_policy/">Политика конфиденциальности</a></div>*@
    </div>
</footer>



    <environment include="Development">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>

<script>
    function validBraces(braces) {
        let stack = [];
        let leftBraces = ['(', '[', '{'];
        let rightBraces = [')', ']', '}'];
        braces.split('').forEach(brace => {
            if (leftBraces.includes(brace))
                stack.push(brace);
            else {
                let prevBrace = stack.pop();
                if (leftBraces.indexOf(prevBrace) !== rightBraces.indexOf(brace))
                    return false;
            }
        });

        return stack.length === 0;
    }

    debugger;
    validBraces("[(])");

</script>